services:
  valkey:
    image: valkey/valkey:9-alpine
    container_name: valkey
    ports:
      - "6379:6379"
    volumes:
      - valkey-data:/data
    restart: unless-stopped

  app:
    build: .
    container_name: gol_app
    depends_on:
      - valkey
    environment:
      - VALKEY_HOST=valkey
      - VALKEY_PORT=6379
    ports:
      - "8000:8000"
    command: ["fastapi", "run", "app/main.py", "--port", "8000"]
    restart: unless-stopped

volumes:
  valkey-data:
